.main__cards-principal {
    border: 1px solid black;
    width: 90%;
    margin: 0 auto;
    margin-top: 2%;
}

.main__cards {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.main__cards p {
    font-weight: bold;
}

.todo-icon {
    width: 25px;
    height: 25px;
    padding-top: 12px;
}

.trash-icon {
    width: 25px;
    height: 25px;
    padding-top: 12px;
}

.main__cards-date {
    display: flex;
    justify-content: center;
}